// Colors
$main_color: #3c318e;
$main_color_light: #8b7cfd;
$gray: #ebebeb;
$dark_gray: #a1a1a1;
$light_gray: #fbfbfb;
$soft_black: rgb(0, 14, 53);
$dark_blue: rgb(147, 149, 151);
$error: #ef406a;

// Layout
$header_height: 68px;
$header_z_index: 10;
