
#app-container {
    max-width: 640px;
    margin: 40px auto 20px;
    width: 100%;
    text-align: center;

    #head-line {
        font-family: 'Pacifico', cursive;
        color: #7a7af3;
        font-size: 30px;
    }

    #main-body-section {

        #msg-add-box {
            
        }
    }
}